<!doctype html>
<html ng-app="beerClub">
<head>
  <meta charset="utf-8">
  <title>Beer Club</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-resource.min.js"></script>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-controller='dashboardCtrl as ctrl'>
  <section>
  Who's signed in?
  <user-list></user-list>
  </section>
  <section>
    <h2>Add a current Beer</h2>
    <form ng-submit='ctrl.addBeer()'>
      <label>Name: <input type='text' ng-model='ctrl.name' /></label>
      <label>Description: <input type='text' ng-model='ctrl.description' ></label>
      <button type='submit'>Submit</button>
    </form>

  <script src="app.module.js"></script>
  <script src="user/rating/rating-directive.js"></script>
  <script src="user/beer/beer-directive.js"></script>
  <script src="user/beer/beer-service.js"></script>
  <script src="admin/user/user-directive.js"></script>
  <script src="admin/user/user-service.js"></script>

</body>
</html>
